---
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>W47 // {title}</title>
    <ClientRouter />
  </head>
  <body>
    <div class="grain-overlay"></div>
    <main>
      <slot />
    </main>
  </body>
</html>